<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HR">
	
	<!-- 전체직원 목록조회  -->
	<select id="list" resultType="com.bc.model.vo.EmployeeVO">
		SELECT * FROM EMPLOYEES ORDER BY EMPLOYEE_ID
	</select>
	
	<!-- 부서코드로 직원 조회 -->
	
</mapper>









